@import url('https://fonts.googleapis.com/css2?family=Stack+Sans+Text:wght@200..700&display=swap');

/* navbar start  */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;

  font-family: "Stack Sans Text", sans-serif;

}
body {
  overflow-x: hidden;
  /* background-color: #7d7d7e; */
}
nav {
  display: flex;
  max-width: 100%;
  height: 70px;
  left: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: #353543;
  color: #fff;
}

.logo {
  font-size: 30px;
  padding-left: 150px;
  margin: 5px;
  position: relative;

  z-index: 2;
  top: 25px;
  font-weight: 600;
  color: #fff;

}

ul {
  display: flex;
  gap: 12px;
  position: relative;
  left: 60%;
  top: -20px;
  right: 90px;
  margin-right: 300px;

}

li {
  list-style: none;
  padding-left: 20px;
  font-size: 20px;
  margin-top: 8px;
  font-weight: 500;
}

a {
  color: #000;
}

a:hover {
  color: #fff;
}

.icon {
  margin-top: 12px;
  margin-right: 100px;
}

.icon i {
  width: 13px;
  height: 13px;
  margin-left: 15px;
  font-size: 20px;

}

/* navbar END  */

/* mobile k liye veiw    nav bar  */
@media only screen and (min-width:200px)and (max-width:768px) {
  nav {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: yellow;
    position: relative;
    top: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    background-color: #0a0ab1;

  }

  .logo {
    position: relative;
    left: -230px;
    margin: 0;
    top: 27px;
    font-size: 20px;
  }

  ul {
    display: none;
  }

  .icon {
    margin-right: 90%;
    position: relative;
    left: 85%;
    top: -30px;
    visibility: hidden;
  }

  .icon #menu {
    font-size: 25px;
    color: #fff;
    visibility: visible;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    padding-top: 25px;
  }

  #menu {
    font-size: 30px;
    color: #fff;
    visibility: visible;
    position: absolute;
    top: 20px;
  }
}

/* mobile k liye veiw nav bar end  */

/* HERO SECTION START */
.main {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 500px;
  background-color: #353543;
}

.left {
  color: #fff;
  padding-left: 160px;
  padding-top: -100px;
  position: relative;
  top: -25px;
}

.para_1 {
  position: relative;
  left: -130px;
  z-index: 1;
  font-size: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: 100;
  padding-left: 130px;
  padding-top: 90px;
}

.heading_1 {
  position: relative;
  left: -5px;
  z-index: 1;
  padding-left: 0px;
  padding-top: 15px;
  font-size: 90px;
}

.hrline {
  width: 150px;
  height: 6px;
  position: relative;
  left: -12px;
  border-radius: 20px;
  background-color: #e47310;
}

.para_2 {
  position: relative;
  left: -280px;
  top: -160px;
  margin: 50px;
  z-index: 1;
  font-size: 18px;
  padding-left: 110px;
  padding-top: 5px;
  margin: 180px;
}

.circle {
  width: 450px;
  height: 450px;
  opacity: 0.6;
  position: absolute;
  top: 80px;
  left: 32%;
  background-color: #2D2D39;
  border-radius: 50%
}

.img_1 {
  position: relative;
  left: -360px;
  z-index: 3;
  top: -18px;
}

.right {
  position: relative;
  left: -470px;
  top: 60px;
  color: #fff;
}

.heading_2 {
  padding-left: 185px;
  padding-top: 20%;
  font-size: 27px;
}

.para_3 {
  /* max-width: 50%; */
  /* padding-left: 170px; */
  font-size: 20px;
  position: relative;
  left: 180px;
  top: 20px;
}

.contact {
  font-size: 20px;
  position: relative;
  z-index: 2;
  left: 180px;
  color: rgb(212, 113, 14);
  top: 30px;
}

.contact>i {
  position: relative;
  left: 6px;
  top: 2px;
  font-size: 18px;

}

.icon_2 {

  width: 200px;
  height: 30px;
  position: relative;
  left: 150px;
  top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.child_icon_2 {
  background-color: #4A4857;
  opacity: 0.7;
  width: 28px;
  height: 28px;
  border-radius: 50%;
}

.child_icon_2 i {
  /* margin: 5px; */
  margin-top: 6px;
  margin-left: 5px;
  text-align: center;
  color: #E4AE30;
}

/* HERO SECTION END */

/* HERO SECTION MEDIA QUERY START */
@media only screen and (max-width:768px) {
  .main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    height: 840px;
    /* padding-top:0px; */
    margin: 0px;
    background-color: #7d7d7e;

  }

  .left {
    padding-left: 0;
    padding-top: 20px;
    text-align: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .para_1 {
    padding-left: 20px;
    padding-top: 50px;
    font-size: 40px;
    position: absolute;
    left: 0px;
    top: 110px;
  }

  .heading_1 {
    padding-left: 20px;
    padding-top: 10px;
    font-size: 40px;
    position: absolute;
    left: 0px;
    top: 200px;
  }

  .hrline {
    width: 130px;
    height: 5px;
    position: absolute;
    left: 24px;
    top: 262px;

  }

  .para_2 {
    width: 130%;
    font-size: 17px;
    position: relative;
    left: -2px;
    /* justify-content: baseline; */
    text-align: justify;
    top: 85px;
    padding: 0px 85px;
  }

  .right {
    position: relative;
    top: -590px;
    left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .heading_2 {
    padding-left: 0;
    padding-top: 10%;
    font-size: 20px;
    position: relative;
    left: -6px;
    top: 20px;
  }

  .para_3 {
    /* width: 100%; */
    /* margin:auto; */
    position: relative;
    top: 28px;
    left: -40px;
    font-size: 17px;
    text-align: justify;
    margin: 5px 35px;
  }

  .contact {
    font-size: 18px;
    position: relative;
    top: 40px;
    left: -2px;
  }

  .contact i {
    font-size: 15px;
    /* margin: auto; */
    /* padding-bottom: 2px; */
  }

  .icon_2 {
    position: relative;
    left: -4px;
    top: 70px;
    /* background-color: #6e6ea5; */
    
  }

  .child_icon_2 {
    width: 45px;
    height: 45px;
  }

  .child_icon_2 i {
    font-size: 26px;
    padding-top: 3px;
  }


  .circle {
    width: 350px;
    height: 350px;
    /* margin: auto; */
    position: absolute;
    top: 530px;
    left: 33px;
  }

  .img_1 {
    position: relative;
    left: 17%;
    top: 49px;
    width: 280px;

  }

}

/* LINK BAR SECTIN START */
.linkbar {
  position: absolute;
  top: 490px;
  z-index: 3;
  left: 280px;
  width: 65vw;
  height: 120px;
  border-radius: 10px;
  color: rgb(255, 196, 0);
  background-color: #2D2D39;
  margin: auto;

}

.link_social {
  width: 100%;
  position: absolute;
  left: 10px;
  top: 30px;
  z-index: 3;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 50px;
  /* background-color: #2D2D39; */
}

.child_link {
  display: flex;
  justify-content: center;
  gap: 60px;

}

p.child_link b {
  background-color: #353543;
  padding: 10px 20px;
  position: relative;
  top: 15px;
  color: #FFFFFF;
  left: 10px;
  font-size: 20px;
}

p.child_link i {
  font-size: 25px;
  padding-right: 10px;

}

p .child_link i {
  font-size: 25px;
  padding-left: 10px;


}

.child_link b:hover {
  color: #E4AE30;
  cursor: pointer;
  background-color: #404054;
}

/* LINK BAR SECTION END */
@media only screen and (max-width:768px) {
  .linkbar {
    width: 85%;
    height: 120px;
    position: relative;
    top: -70px;
    left: 2px;
    margin: auto;

  }

  .link_social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
    position: relative;
    left: 0px;
    top: 1px;
    height: auto;
    background-color: #2D2D39;
    border-radius: 6px;
  }
.child_link {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    border-radius: 10px;
    
  }
  p.child_link b {
    font-size: 14px;
    padding: 8px 12px;
    top: 10px;
  }

  p.child_link i {
    font-size: 20px;
    padding-left: 0px;
  }

 p > b.link_w{
    padding: 15px 30px;
    position: relative;
    left:10px;
    top: 6px;
    /* border-radius: 10px; */
  }

 p > b.link_f {
    padding: 15px 30px;
    position: relative;
    left:-5px;
    top: 6px;
    /* border-radius: 10px; */
  }

 p > b.link_l {
    padding: 15px 38px;
    position: relative;
    left:4px;
    top: 0px;
    /* border-radius: 10px; */

  }
  p > b.link_s {
    padding: 15px 52px;
    position: relative;
    left:-10px; 
    top: 0px;
    /* border-radius: 10px; */
  }
}

/* ITENS SECTION START */
.main_last {
  width: 100%;
  height: 550px;
  position: relative;
  top: px;
  z-index: 2;
  display: flex;
  background-color: #1E1E21;
}

.left_side {
  max-width: 35%;
  /* border: solid; */
  position: relative;
  /* top: 40px; */
  left: 57px;
  /* padding: 40px; */
  padding-left: 10px;
  padding-top: 70px;
}

.heading_5 {
  padding: 30px;
  font-size: 45px;
  padding-left: 60px;
  color: #fff;
}

.para_5 {
  font-size: 20px;
  padding: 0px 100px;
  position: relative;
  left: -30px;
  color: #fff;
}

.tb p {
  font-size: 13px;
  padding-left: 10px;
  color: white;
}

.tb {
  color: orange;
}

table {
  position: relative;
  left: 90px;
  top: 15px;
}

.right_side {
  /* max-width: 35%; */
  /* border: solid; */
  position: relative;
  left: -60px;
  top: -5px;
}

.last_box {
  width: 600px;
  height: 120px;
  margin-bottom: 15px;
  /* border: solid; */
  position: relative;
  left: 400px;
  display: flex;
  top: 120px;
}

.last_box img {
  width: 120px;
  height: 114px;
}

.last_box h4 {
  position: relative;
  top: 30px;
  color: #fff;
  left: 13px;
  font-size: 23px;
}

.last_box p {
  color: #fff;
  font-size: 18px;
  padding-left: 12px;
}

.arrow_1 {
  position: relative;
  color: orange;
  left: 275px;
  top: 45px;
  font-size: 25px;
}

.arrow_2 {
  position: relative;
  left: 228px;
  color: orange;
  top: 45px;
  font-size: 25px;
}

.arrow_3 {
  position: relative;
  left: 210px;
  color: orange;
  top: 45px;
  font-size: 25px;
}

.hr {
  width: 600px;
  height: 2px;
  background-color: #55555F;
  position: relative;
  left: 400px;
  top: 110px;
}

footer {
  width: 100%;
  height: 200px;
  z-index: 2;
  background-color: #0d0d19;
  color: #fff;
  text-align: center;
  padding: 10px 0;
  position: relative;
  top: 0px;
}

footer p {
  font-size: 16px;
  margin: 0;
  margin-top: 50px;
  padding: 10px 0;
}

footer .social_links {
  margin-top: 15px;
  /* background-color: #2e2e8a; */
}

footer .social_links span {
  display: inline-block;
  margin: 0 10px;
  background-color: #4A4857;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 30px;
}

footer .social_links span a {
  color: #E4AE30;
  font-size: 20px;
  line-height: 40px;
  display: block;
}

/* ITEMS SECTION END  */
@media only screen and (max-width:768px) {
  .main_last {
  width: 124%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -120px;
  left: -100px;
}

.left_side {
  background-color: #2D2D39;
  width: 100%;
  height: 420px;
  display: flex;
  flex-direction: column;
  padding: 44%;
}

.heading_5 {
  font-size: 25px;
  color: #fff;
  position: relative;
  left: -200px;
  top: -180px;
  width: 400px;
  /* padding: 44% 30px; */
}

.para_5 {
  font-size: 12px;
  padding: 0px 80px;
  position: relative;
  left: -220px;
  top: -180px;
  width: 400px;
  color: #fff;
}

.tb p {
  font-size: 9px;
  padding-left: 10px;
  color: white;
}

.tb {
  color: orange;
}

table {
  position: relative;
  left: -140px;
  top: -160px;
  padding: 20px 0px;
  width: 250px;

}
.range {
  font-size: 0px;
  color: orange#fff;

}
.right_side {
  /* max-width: 35%; */
  /* border: solid; */
  position: relative;
  left: -280px;
  top: -60px;
  width: 100%;
  height: 500px;
}

.last_box {
  width: 600px;
  height: 120px;
  margin-bottom: 2px;
  /* border: solid; */
  position: relative;
  left: 400px;
  display: flex;
  top: 120px;
}

.last_box img {
  width: 100px;
  height: 90px;
}

.last_box h4 {
  position: relative;
  top: 30px;
  color: #fff;
  left: 13px;
  font-size: 15px;
}

.last_box p {
  color: #fff;
  font-size: 12px;
  padding-left: 12px;
}

.arrow_1 {
  position: relative;
  color: orange;
  left: 130px;
  top: 40px;
  font-size: 20px;
}

.arrow_2 {
  position: relative;
  left: 99px;
  color: orange;
  top: 40px;
  font-size: 20px;
}

.arrow_3 {
  position: relative;
  left: 90px;
  color: orange;
  top: 40px;
  font-size: 20px;
}

.hr {
  width: 400px;
  height: 2px;
  background-color: #55555F;
  position: relative;
  left: -60px;
  top: 95px;
  margin: auto;
}

footer {
  width: 100%;
  height: 200px;
  z-index: 2;
  background-color: #0d0d19;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  position: absolute;
  top: 250%;
}

footer p {
  font-size: 16px;
  margin: 0;
  margin-top: 50px;
  padding: 10px 0;
}

footer .social_links {
  margin-top: 15px;
  background-color: #2e2e8a;
}

footer .social_links span {
  display: inline-block;
  margin: 0 10px;
  background-color: #4A4857;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 30px;
}

footer .social_links span a {
  color: #E4AE30;
  font-size: 20px;
  line-height: 40px;
  display: block;
}
}